html, body {

}

section {
    height: 400px;
    overflow-y: scroll;
}

#range {
    width: 200px;
    height: 100px;
    display: flex;
    align-items: center;

    .line {
        height: 2px;
        flex: 1;
        position: relative;
        background: #333;

        .rounded {
            position: absolute;
            height: 100px;
            width: 30px;
            top: -50px;
            border-radius: 20px;
            background: orange;
        }
    }
}